<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.co.quix.afeka.hpet" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

 <uses-sdk
    android:maxSdkVersion="17"
    android:minSdkVersion="8" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginV"
            android:label="@string/title_activity_login_v" >
        </activity>
        <activity
            android:name=".ReportedDogs"
            android:label="@string/title_activity_reported_dogs" >
        </activity>
        <activity
            android:name=".ReportForDog"
            android:label="@string/title_activity_report_for_dog" >
        </activity>
        <activity
            android:name=".about_us"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name=".Volenteer"
            android:label="@string/title_activity_volenteer" >
        </activity>
        <activity
            android:name=".ReportView"
            android:label="@string/title_activity_report_view" >
        </activity>

        <activity
            android:name=".SearchDog"
            android:label="@string/title_activity_search_dog" >
        </activity>
        <activity
            android:name=".Adopt"
            android:label="@string/title_activity_adopt_dog" >
        </activity>
    </application>

</manifest>
